<p>

  <input type="text"  id="searchMusician" class="inputLijst"  (keyup)="onKeyUp()" />
  <br> <br>{{ searching }}
</p>

<mat-table  [dataSource]="dataSource"  class="mat-elevation-z8" >


  <ng-container matColumnDef="Track">
    <th mat-header-cell *matHeaderCellDef> Track</th>
    <td mat-cell *matCellDef="let element" style="width: 440px; word-wrap: break-word; margin-right: 10px;"> {{element.track}}</td>
  </ng-container>
  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef>Detail</th>
    <td mat-cell *matCellDef="let element"><a  class="detail" (click)="goto(element)" >Details</a></td>
  </ng-container>
  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef> Foto</th>
    <td mat-cell *matCellDef="let element"> <img src="{{element.foto}}" alt="geen data"></td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element" style="width: 440px; word-wrap: break-word; margin-right: 10px;"> {{element.name}} </td>
  </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="['foto','name','Track','detail']"></tr> -->
    <tr mat-row *matRowDef="let row; columns: ['foto','name','Track','detail'];"></tr>
</mat-table>

