.detail {
  text-decoration: underline;
  cursor: grab;
}
.mat-header-cell{
  text-align: top;
  margin-right: 10px;
}
 .mat-table{

  width: 50%;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}
