/* You can add global styles to this file, and also import other style files */
h1,p{
  text-align: center;
}
table {
  border: 1em;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
