<script>
  window.onload = function() {
    var context = new AudioContext();
  }
  </script>
  <p>
  <a  class="back">Go Back</a>
  <br><br><img src="{{selSong.foto}}" />
  <br><br>{{selSong.name}}
  <br><br><label class="detailItalic">{{selSong.track}}</label>
  <br>
  <br>

  <video controls autoplay name="media" crossOrigin="*">
    <source src="{{selSong.sound}}" type="audio/x-m4a">
  </video>

</p>
